img{
    border-radius: 50px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --text-color: white;
    --bg-url: url(./assets/marcweb11n.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/lua.svg);
  }
  
  .light {
    --text-color: black;
    --bg-url: url(./assets/mac1web.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sol.svg);
  }
  
  body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
  }
  
  body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
  }
  
  #container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
  }
  
  /* profile */
  #Meu_perfil {
    text-align: center;
    padding: 24px;
  }
  
  #Meu_perfil img {
    width: 112px;
  }
  
  #Meu_perfil p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
  }
  
  /* switch */
  #troca {
    position: relative;
    width: 64px;
  
    margin: 4px auto;
  }
  
  #troca button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
  
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
  
    animation: slide-back 0.2s;
  }
  
  .light #troca button {
    animation: slide-in 0.2s forwards;
  }
  
  #troca button:hover {
    outline: 8px solid var(--highlight-color);
  }
  
  #troca span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
  }
  
  /* links */
  ul {
    list-style: none;
  
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
    ;
  }
  
  ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 50px;
  
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  
    text-decoration: none;
    font-weight: 500;
  
    transition: background 0.2s;
  }
  
  /* pseudo-selector */
  ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
  }
  
  /* social links */
  #social-links {
    display: flex;
    justify-content: center;
  
    padding: 24px 0;
  
    font-size: 24px;
  }
  
  #social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
  }
  
  #social-links a:hover {
    background: var(--highlight-color);
  }
  
  footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
  }
  
  /* media queries */
  @media (min-width: 700px) {
    :root {
      --bg-url: url(./assets/preto.png);
    }
  
    .light {
      --bg-url: url(./assets/branco.jpg);
    }
  }
  
  /* animation */
  @keyframes slide-in {
    from {
      left: 0;
    }
    to {
      left: 50%;
    }
  }
  
  @keyframes slide-back {
    from {
      left: 50%;
    }
    to {
      left: 0;
    }
  }
  /* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: rgb(0, 22, 190);
    --fs-size: 30px;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: lowercase;
    color: transparent;
    -webkit-text-stroke: 0px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: content-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.1s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(10px var(animation-color))
  }